<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothie-pankki</title>
        <meta charset="ISO-8859-1" />
    </head>

    <body>
        <h1>Tervetuloa Smoothie-pankkiin!</h1>
        <h2> Täältä löydät herkullisimmat reseptit ravitseviin smoothieihin, niin terveellisiksi välipaloiksi kuin herkutteluhetkiinkin!</h2>

        <h2> Reseptit:</h2>

        <ul>
            <li th:each="smoothie : ${smoothiet}">
                <a th:href="@{~/smoothie/{id}(id=${smoothie.id})}">
                    <span th:text="${smoothie.nimi}">Smoothie</span>
                </a>
            </li>
        </ul>
        
        <p><a href="/lisaaraakaaine">Lisää raaka-aine smoothiepankkiin täältä!</a></p>
        <p><a href="/lisaasmoothie">Lisää oma reseptisi smoothiepankkiin täältä!</a></p>
    </body>
</html>